.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  display: block;
  max-width: 270px;
}

.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-icon-container {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}